<div back class="side-menu" id="side-menu" navList needSetHasFocusClass>
  <h1 class="font-bold text-xl m-2">{{appName}}</h1>
  <ul class="side-menu__list">
    <li
      *ngFor="let item of menu"
      [queryParams]="item.queryParams"
      [right]="menuItemRightActionCallback"
      [routerLink]="item.link"
      class="side-menu__item"
      navFocusable
      noNeedScroll
      routerLinkActive="active"
    >
      <a class="side-menu__link">{{ item.title }}</a>
    </li>
    <li
      (click)="fullscreenToggle()"
      [id]="'sidemenu_full'"
      class="side-menu__item"
      navFocusable
      noNeedScroll
    >
      <a class="side-menu__link">Полный экран</a>
    </li>
  </ul>
</div>
